
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.sub-title-ul{
  margin-top: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.sub-title-li{
  margin-left: 15px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}


.img-resize{
  margin-left: 30px;
  margin-top: 5px;
  width: 230px;

}

.form-search-control-resp {
  margin-top: 15px;
  margin-left: 0px;
  width: 1000px;

}

.navbar {
  background-color: #000 ;
}

.btn{
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  color: #fa711c;
  border-color: #fa711c;
}

.icon{

  width: 35px;
  margin-top: 10px;
  margin-left: 20px;
}

.collapse {
  margin-left: -30px;
}

.dropdown {
  color: white;
  margin-left: 5px;
  white-space: nowrap;
  cursor: pointer;
}
.dropIcon {
  width: 18%;
  margin-left: 45px;
}

.swiper {
  margin-left: 35px;
}
.swiper-slide {
  // display: flex;
  margin-top: 0px;
  align-items: 'auto';
  font-size: 15px;
  font-weight: 14px;
  color: orange;
  background-color: black;
  border-radius: 0px;
  padding: 0 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1720px) {
  .form-search-control-resp {
    margin-left: 50px;
    width: 600px;

  }






}

@media screen and (max-width: 1450px) {
  .form-search-control-resp {
    margin-left: 50px;
    width: 300px;

  }
  .sub-title-ul{
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    display: block;
  }
  .sub-title-li{
    margin-left: 10px;
    font-size: 18px;
  }


}

@media screen  and (max-width: 1136px){
  .sub-title-li{
    margin-left: 0px;
    font-size: 15px;
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .container-fluid{
    &:not(.show) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
  .collapse {
    &:not(.show) {
      display: inline-block;
    }
  }
  navbar-collapse{
    &:not(.show) {
      display: inline-block;


    }
  }
  .new {
    &:not(.show) {
      display: inline-block;
      display: flex;
      justify-content: end;
      align-items: first baseline;
      width: 200px;
    }


  }
  .icon{
    &:not(.show) {
      justify-content: end;
      align-items: first baseline;
      width: 30px;
      margin-top: 10px;
      margin-left: 20px;
    }

  }
  .sub-title-li{
    display: none;
  }

}







