.nav-link {
  color: white; /* Remplacez "black" par la couleur de votre choix */
}

.navbar-brand {
  color: white; /* Remplacez "black" par la couleur de votre choix */
}

.my-title .navbar-brand{
  font-size: 10 px;
}

.sub-title{
  margin-top: 15px; margin-left: 30px;font-size: 20px;
}

.form-search-control {
  width: 700px;
  margin-top: 15px;
}

/* #fa711c */
.btn:hover {
  background-color: #fa711c;
  background-color: rgba(255, 165, 0, 0.5);
}

.dpur {
  background-color: #000 ;
}

.swiper-slide {
  color: #fa711c;
}
