
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';


.sub-title-ul{
  margin-top: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.sub-title-li{
  margin-left: 15px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}


.img-resize{
  margin-left: 30px;
  margin-top: 5px;
  width: 230px;

}

.form-search-control {
  margin-top: 15px;
  margin-left: -90px;
  width: 1000px;

}

.navbar {
  background-color: #000 ;
}

.btn{
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  color: #fa711c;
  border-color: #fa711c;
}

.icon{

  width: 35px;
  margin-top: 10px;
  margin-left: 20px;
}
.icon-a{
  margin-left: -150px;
}

.collapse {
  margin-left: -30px;
}

.dropdown {
  color: white;
  margin-left: 5px;
  white-space: nowrap;
  cursor: pointer;
}
.dropIcon {
  width: 18%;
  margin-left: 45px;
}

.swiper {
  margin-left: 35px;
}
.swiper-slide {
  // display: flex;
  margin-top: 0px;
  align-items: 'auto';
  font-size: 15px;
  font-weight: 14px;
  color: orange;
  background-color: black;
  border-radius: 0px;
  padding: 0 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1562px) {
  .collapse navbar-collapse{
    width: 87%
  }
  .a{
    width: 80%;
  }
  .imgResize {
    width: 50%;
  }
  .nav-link {
    font-size: 70%;
  }
  .form-search-control {
    width: 100%;
  }
  .collapse {
    width: 90%;
  }
  .container-fluid{
    width: 90%;
  }



}

@media screen and (max-width: 1279) {
  .nav-link{
    width: 90%;
  }
  .collapse navbar-collapse{
    width: 87%
  }
  .nav-link {
    font-size: 70%;
  }
  .form-search-control {
    width: 100%;
  }
  .collapse {
    width: 90%;
  }
  .imgResize {
    width: 30%;
  }
  .container-fluid{
    width: 80%;
  }
  .navbar-nav {
    display: block;
  }
  .navbar-collapse{
    display: block;
  }
}






