<body>

</body>
<nav>
  <nav class="navbar navbar-expand-lg">

    <div class="container-fluid f">
      <a class="navbar-brand logo" href="#">
        <img class="img-resize" src="../../../assets/home-images/logo.png" >
      </a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav sub-title-ul" >
          <li class="sub-title-li">
            <a aria-current="page" (click)="goToHome()">Qui sommes nous</a>
          </li>
          <li class="sub-title-li">
            <a (click)="goToProductList()">Devenir Vendeur</a>
          </li>
          <li class="sub-title-li">
            <a (click)="goToProductList()">
              Aide
            </a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse new" id="navbarSupportedContent" >
        <form class="d-flex form-search-control-resp" role="search">
          <input class="form-control me-2" type="search"  placeholder="Essayez iPhone 11,MacBook, revendre..." aria-label="Search"
          >
          <button class="btn text-center" type="submit">Search</button>
        </form>
      </div>

      <div class="navbar-collapse icon-div" id="navbarSupportedContent">
        <a class="icon" href="#" >
          <img class="icon-img" src="../../../assets/home-images/user.png" style="width: 43px;">
        </a>
        <a class="icon"  href="#"  style="margin-top: 15px;">
          <img class="icon-img" src="../../../assets/home-images/cart.png">
        </a>
      </div>

    </div>
  </nav>


  <nav class="navbar navbar-expand-lg">
    <nav class="dropdown">

      <div  style="display: flex; align-items: center;" >

        <img class="dropIcon" src="../../../assets/home-images/dropDown.png" data-bs-toggle="dropdown">
        <span class="dropdown" data-bs-toggle="dropdown">Tous les produits</span>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Link 1</a></li>
          <li><a class="dropdown-item" href="#">Link 2</a></li>
          <li><a class="dropdown-item" href="#">Link 3</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Another link</a></li>
        </ul>
      </div>



  </nav>
  <nav>

  </nav>
  <swiper
    [slidesPerView]="isMobile ? 3 : 7"
    [spaceBetween]="10"
    [centeredSlides]="false"
    [loop]= "true"
    [touchRatio]= 2
    [allowSlideNext]="true"
    [autoplay]="{
      delay: 5000,
      disableOnInteraction: false,
      waitForTransition: false
    }"

  >
    <ng-template *ngFor="let category of categoryList" swiperSlide >
        <span>{{category.name}}</span>
    </ng-template>
  </swiper>



</nav>

