.nav-link {
  color: white; /* Remplacez "black" par la couleur de votre choix */
}

.navbar-brand {
  color: white; /* Remplacez "black" par la couleur de votre choix */
}
.nav-link {
  color: white; /* Remplacez "black" par la couleur de votre choix */
}
